<div class="item-info">
    <depot-enlargable-image
        *ngIf="item.pictureId"
        [previewUrl]="getItemPicturePreviewUrl(item)"
        [fullSizeUrl]="getItemPictureUrl(item)"
        alt="Item Image"
        cssClass="item-picture image"
    ></depot-enlargable-image>
    <div class="item-text">
        <div class="item-name">
            {{ item.name }}
            <span *ngIf="item.externalId" class="external-id" nbTooltip="Identifier">{{ item.externalId }}</span>
            <nb-icon
                *ngIf="item.condition === 'ok'"
                icon="alert-circle-outline"
                status="warning"
                [nbTooltip]="'Condition is ok (not best)' + (item.conditionComment ? ': ' + item.conditionComment : '')"
            ></nb-icon
            ><nb-icon
                *ngIf="item.condition === 'bad'"
                icon="alert-triangle-outline"
                status="danger"
                [nbTooltip]="'Condition is bad' + (item.conditionComment ? ': ' + item.conditionComment : '')"
            ></nb-icon>
        </div>
        <div class="item-description">
            {{ item.description }}
        </div>
        <div class="item-tags">
            <span *ngFor="let tag of item.tags" class="item-tag">{{ tag }}</span>
        </div>
    </div>
</div>
