.key {
    font-weight: bold;
}

.status-success {
    color: var(--color-success-700);
}

.status-warning {
    color: var(--color-warning-700);
}

.status-danger {
    color: var(--color-danger-700);
}

.reservation-data {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.reservation-container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.reservation-link {
    align-content: center;
    padding-left: 2em;
}