@use '../mixins';
@include mixins.tight-layout;

.expandable,
.expandable *,
.sortable,
.sortable * {
    cursor: pointer;
}

.expandable {
    font-weight: bold;
    --tree-grid-cell-padding: 1rem .6rem;
}

.header-flex {
    place-content: space-between;
    display: flex;
    flex-flow: wrap;
}

tr.isGroup {
    background-color: var(--tertiary-95) !important; // important needed because of nb-theme
    --button-ghost-background-color: var(--tertiary-90);
    --button-ghost-basic-hover-background-color: var(--tertiary-80);
}

tr.belongsToGroup {
    td:not(.nb-column-actions){
        //--tree-grid-cell-padding: .3rem .6rem .3rem 1.5rem;
    }
}

td > .table-fill {
    //display: flex;
    height: 100%;
    width: 100%;
}

table {
    // This will ensure every column is properly visible, also on mobile
    min-width: 1200px;
    max-width: none;
}
